body {
  background-color: rgb(72, 0, 87);
}
.menu {
  font-family: "Open Sans", sans-serif;
}
.menu__title {
  color: aliceblue;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__item {
  display: block;
  padding: 0 30px;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
}
.menu__link {
  text-decoration: none;
  color: aliceblue;
}
.menu__link:hover {
  background-color: black;
}
