* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  
}
.container {
  margin: auto;
  margin-left: 0;
  width: 1146px;
  height: 720px;
  background: #150433;
}
.header {
  margin: 0;
  padding-left: 98px;
  padding-top: 90px;
}
.header__title {
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  color: #fcfcfc;
  margin-bottom: 54px;
}
.info {
  margin: 0;
  padding-left: 98px;
  padding-right: 98px;
  display: flex;
  justify-content: space-between;
}
.title {
  font-style: normal;
  font-weight: bold;
  font-weight: 800px;
  font-size: 12.6px;
  line-height: 207.9%;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fcfcfc;
  padding-left: 2px;
  padding-bottom: 4px;
  
}
.title__email{
  padding-top: 17px;
  padding-left: 2px;
 

}

.about__input {
  width: 362px;
  height: 54px;
  background: #fcfcfc;
  border: 1px solid #f4f4ed;
  font-style: normal;
  font-weight: normal;
  font-size: 16.2px;
  line-height: 163.35%;
  display: flex;
  align-items: center;
  color: #9b94a3;
  padding-top: 5px;
  padding-left: 19px;
  
}
.message__input {
  width: 558px;
  height: 234px;
  background: #fcfcfc;
  border: 1px solid #f4f4ed;
  font-style: normal;
  font-weight: normal;
  font-size: 16.2px;
  line-height: 163.35%;
  color: #776c82;
  padding-left: 55px;
  padding-bottom: 143px;
  margin-bottom: 51px;
}
.message__button {
  width: 215px;
  height: 54px;
  background: #f61067;
  border-radius: 36px;
  border: 1px solid #f61067;
  box-sizing: border-box;
 

}

.message__link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 13.5px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fcfcfc;
  padding-left: 36px;
}
